<%- include("head-fott/header.ejs") %>


<h1>Contact Me</h1>

<p>You can click the below button which directs you to mail</p>
<a class="btn-contact" href="mailto:saichandra1001@gmail.com">CONTACT ME</a>


<%- include("head-fott/footer.ejs") %>