<%- include("head-fott/header.ejs") %>


<h1 class="title">Hi! I am Sai Chandra</h1>
<h2 id="welcome">Web Developer and Programmer</h2>

<img class="profila" src="images/reume.jpg" alt="profile pic">

<p class="into">I am currently pursuing my CS degree at Chandigarh University.<br />
   As a Computer Science student with a passion for web development and programming, I am actively seeking opportunities in these fields where I can leverage my proficiency in HTML, CSS, JavaScript, and frameworks like React.<br />
   <br />
   My specialization in C++, Java, and Python, along with my enthusiasm for working on innovative projects, makes me a strong candidate for roles that require a combination of web development and programming skills. I am curious and eager to learn new technologies to adapt to the ever-evolving landscape of these fields.<br />
   <br />
   You can click on the About and Contact buttons on the Nav Bar to know more about me. Also, feel free to check out my Social's below.
</p>


  <%- include("head-fott/footer.ejs") %>