<%- include("head-fott/header.ejs") %>


<h1 class="title" >Hi! Iam Sai Chandra</h1>
<h2 id="welcome">  A Web Developer and an Aspiring Data Scientist</h2>

<img class="profila" src="images/Portfolio_pfp.jpg" alt="profile pic">


<p class = "into" >I'am currently pursuing my CS degree in Chandigarh University.<br /> 
  As a Computer Science student with a passion for web development and data science. I am actively seeking opportunities in these fields, where I can leverage my proficiency in HTML, CSS, JavaScript, Python, SQL, and  frameworks like React.<br />
  <br />
   My experience  with data visualization tools like Tableau and Power BI, make me a strong candidate for roles that require a combination of web development and data science skills. I am committed to staying updated with the latest technologies and continuously improving my skills to adapt to the ever-evolving landscape of these fields.<br />
   <br />
  You can click on the About and Contact buttons on the Nav Bar to know more about me.
  Also feel free to check out my Social's below 
</p>
  

  <%- include("head-fott/footer.ejs") %>