<%- include("head-fott/header.ejs") %>


<h1 class="title" >Hi! Iam Sai Chandra</h1>
<h2 id="welcome">  Welcome to my Portfolio !</h2>

<p>I'am currently pursuing my CS degree in Chandigarh University and I love programming.<br /> 
  I also have a keen intrest in Data Science and Web Development</p>
  <p>You can click on the About and Contact buttons on the Nav Bar to know more about me.</p>
  <p>Also feel free to check out my Social's below </p>
  

  <%- include("head-fott/footer.ejs") %>