html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}
#welcome{
  color: blueviolet;
}

p {
  padding-top: 25px;
  color: rgb(107, 107, 107);
}

.profila{
  border-radius: 50%;
  height: 180px;
  width: 185px;
  border-style:groove;
}

#lol{
  color: blue;
}
#lol2{
  color: blue;
}
.btn-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#DAFFFB;
  width: 150px;
  height: 100px;
  border-radius: 46%;
  color: crimson;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  text-decoration:dotted;
  
}

